
<ul class="breadcrumb">
    <li>
        <a href="/f/{{ forumID }}">{{ forumTitle|e }}</a> <span class="divider">/</span>
    </li>
    
    <!--
    <li>
        <a href="/f/{{ forumID }}/t/{{ threadID }}">{{ threadTitle|e }}</a> <span class="divider">/</span>
    </li>
    -->
    
    <li class="active">{{ threadTitle|e }}</li>
</ul>